* {
  box-sizing: border-box;
}

.form-content {
  padding-top: 40px;
  min-height: calc(100% -80px);
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid green;
}

.form {
  width: 55%;
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
}

.close {
  align-items: right;
  margin-right: 40px;
}

.form-head {
  font: normal normal 20px/25px Roboto;
  letter-spacing: 0px;
  color: white;
  background-color: #007cff;
  text-align: center;
  text-transform: capitalize;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  opacity: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.column-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

.column-content-style {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
  margin-right: 100px;
}

.example-full-width {
  width: 100%;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.text {
  font-size: 16px;
  color: #42515f;
  opacity: 1;
  font-family: Robonto;
}

.row-content-address {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
}

.subAddress {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* .city {
    padding : 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 100px;
} */

/* .zip-container {
    padding-right: 20px;
} */

/* .state {
    padding : 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 100px;
} */

.add-reset {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-bottom: 50px;
  padding-left: 320px;
  padding-right: 90px;
}

.button {
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0px;
  opacity: 1;
  font-weight: 400;
  min-width: 140px;
  padding: 7px 7px;
  cursor: pointer;
  color: #42515f;
  background: #e2e2e2 0% 0% no-repeat padding-box;
  border: 1px solid #969696;
  border-radius: 5px;
  margin: 0px 100px 0px 20px;
  margin-inline: 10px;
}
#name {
  top: 370px;
  left: 554px;
  width: 500px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  opacity: 1;
}
#phone {
  top: 370px;
  left: 554px;
  width: 500px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  opacity: 1;
}
#address {
  top: 580px;
  left: 554px;
  width: 500px;
  height: 70px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  opacity: 1;
}
#city {
  top: 735px;
  left: 558px;
  width: 166.66px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  opacity: 1;
}
#state {
  top: 735px;
  left: 558px;
  width: 166.66px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  opacity: 1;
  padding-bottom: initial;
}
#zip {
  top: 735px;
  left: 558px;
  width: 166.66px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  opacity: 1;
}
.row-content{
    margin-bottom: 20px;
    padding-left: 2px;
    padding-right: 10px;
}
